{{ partial "top.html" . }}

  <article class="posts">

    {{ range site.RegularPages.GroupByDate "2006" -}}
    <section>

      <ol>
        {{ range .Pages -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>
    {{ end }}

  </article>

{{ partial "bottom.html" . }}
